.table {
    width: 100%;
    border-collapse: collapse;
}

.student-table {
    display: block;
    background: #fff;
    box-shadow: 0 1px 4px 0 rgba(50, 50, 50, 0.1);
    width: 825px;
    margin: 0 auto;
}

.student-thead {
    width: 100%;
    background: #f8f9fa;
    text-align: left;
    line-height: 2.5;
    border-top: 1px solid #ebedf0;
    border-bottom: 1px solid #ebedf0;
}

.student-thead tr {
    font-size: 12px;
    font-weight: 500;
}

.student-tfoot {
    display: flex;
    padding: 15px 28px;
    border-top: 1px solid #ebedf0;
    justify-content: space-between;
    align-items: center;
}

.student-tfoot-left {
    display: flex;
    align-items: center;
}

.page-link {
    width: 39px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    cursor: pointer;
}

.page-item:hover {
    background: #f8f9fa;
}

.page-item.active {
    background: #eee;
}

.student-pagination {
    display: flex;
    margin: 0;
    list-style: none;
}

.table-header {
    display: flex;
    justify-content: space-between;
    padding: 1em;
}

.table-header-left {
    display: flex;
    align-items: center;
}

.table-header-left h3 {
    color: #333;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5;
}

.table-header-left span {
    color: #ccc;
    font-size: 16px;
    padding-left: 8px;
}

.table-image {
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.table-name-td {
    padding-left: 2em;
}

.table-avatar-td {
    text-align: right;
}

.table-image {
    position: relative;
    right: -1.5em;
    top: 50%;
    transform: translateY(25%);
}

.student-tr {
    line-height: 3;
}

.student-tr:hover {
    background: #fcf1f6;
}

.table-name-th span {
    cursor: pointer;
}

.table-sort-icon {
    position: relative;
}

.table-sort-icon.up:after {
    content: '';
    position: absolute;
    top: 0;
    right: -2em;
    width: 16px;
    height: 16px;
    background: url('../../img/icons/arrow-down.svg');
    transform: rotate(180deg);
}

.table-sort-icon.down:after {
    content: '';
    position: absolute;
    top: 0;
    right: -2em;
    width: 16px;
    height: 16px;
    background: url('../../img/icons/arrow-down.svg');
}

.table-sort-icon.default:after {
    content: '';
    position: absolute;
    top: 0;
    right: -2em;
    width: 16px;
    height: 16px;
    background: url('../../img/icons/arrow-down.svg');
}

.form-control {
    height: 35px;
    padding: 0 1em;
}

.student-tfoot-left-info {
    padding-left: 1em;
    color: #9299a3;
    font-size: .9rem;
}

.actions {
    padding-right: 28px;
    display: flex;
    justify-content: space-evenly;
}

.actions > a {
    display: flex;
}

.table-header-right {
    display: flex;
}

.select-wrap {
    width: 160px;
    margin-left: 16px;
}

.form-control {
    width: 112px;
    padding: 8px 12px;
    border-radius: 4px;
    border: solid 1px #dde0e5;
    outline: none;
}

select {
    -moz-appearance: none;
    -webkit-appearance: none;
    outline: none;
}

.form-control-search {
    width: 200px;
    padding: 8px 12px 8px 36px;
    border-radius: 4px;
    border: solid 1px #dde0e5;
    outline: none;
}

.form-control-search-wrap {
    position: relative;
}

.form-control-search-icon {
    position: absolute;
    top: 8px;
    left: 8px;
}

.status-active {
    font-size: 12px;
    color: #00a334;
    padding: 4px 8px;
    border-radius: 4px;
    background-color: #e5f8eb;
}

.status-invited {
    font-size: 12px;
    color: #db8400;
    padding: 4px 8px;
    border-radius: 4px;
    background-color: #fef4e5;
}

.status-inactive {
    font-size: 12px;
    color: #e63629;
    padding: 4px 8px;
    border-radius: 4px;
    background-color: #ffebea;
}

.select-drop-icon {
    position: absolute;
    top: 50%;
    margin-top: -2px;
    right: 14px;
}